.jumbotron {
    background-image: url('../pokemon_images/mew_blood.png');
    background-position: right;
    background-repeat: no-repeat;
    background-color: black;
    color: ivory;
}

html {
  position: relative;
  min-height: 100%;

}

