<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokemon Recommendation</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="./css/custom.css">
  </head>
  <body>


    <div class="container">

      <div class="jumbotron">
        <h1>I Choose You ! <br/> <small>Choose me too</small></h1>
      </div>

      <div class="col-md-6">
        <div id="pokemonselection"></div>
      </div>


      <div class="col-md-6 rec">
        <div id="pokemonrecommend"></div>
      </div>

      <div class="pika">

      </div>


    </div>









    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/superagent/2.2.0/superagent.min.js'></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>
    <script src="./data.js"></script>

    <!-- Reactive Templates -->
    <script id='selection' type='text/ractive'>
      <select id="pokeselect" class="selectpicker"  data-actions-box="true" data-live-search="true" multiple dropupAuto="false" title="Select your pokemons" value={{selected}}>
        {{#pokemons}}
        <option>{{this.text}}</option>
        {{/pokemons}}
      </select>

      <hr/>
      <table class="table">
        {{#selected}}
        <tr>
          <th><img src='{{toUrl(this)}}' class="img-responsive" id={{this}} on-click="click"></th><th>{{this}}</th>
        </tr>
        {{/selected}}
      </table>
    </script>

    <script id='recommend' type='text/ractive'>
      <button type="button" class="btn btn-primary" on-click="recommend">Recommend</button>
      <hr/>
       <table class="table">
        {{#recommends}}
        <tr>
          <th><img src='{{toUrl(this[0])}}' on-click="remove" class="img-responsive"></th><th>pokemon : {{this[0]}}<br/>confidence : {{this[1]}}</th>
        </tr>
        {{/selecteds}}
      </table>
    </script>
    <!-- Ractive Main -->
    <script>
      Ractive.DEBUG = false
      var ractive = new Ractive({
      el: '#pokemonselection',
      template: '#selection',
      data: {
      pokemons:pokemons,
      selected:[],
      toUrl: function(img){
      var fullUrl = "./pokemon_images/" + String(img).toLowerCase() + ".jpg";
      return fullUrl;
      }
      }});

      ractive.on('click',function(event){
          var name = event["context"];
          var original_selected = ractive.get("selected");
          var new_selected = _.without(original_selected,name);
          ractive.set("selected",new_selected);
          $('#pokeselect').selectpicker("refresh");
          //var index = _.findIndex(pokemons, function(x){return x.text == name});
          //var x = document.getElementById("pokeselect").options;
          //x[index].selected =false;
        }
      );

      var ractive2 = new Ractive({
      el: "#pokemonrecommend",
      template:"#recommend",
      data:{
      toUrl: function(img){
      var fullUrl = "./pokemon_images/" + String(img).toLowerCase() + ".jpg";
      return fullUrl;}
      }
      });

      ractive2.on('recommend',function(event){
        var selected = ractive.get("selected");
        superagent
          .post("http://localhost:5555/echo")
          .send({selected:selected})
          .end(function(err,res){
            var recommends = res['body'];
            ractive2.set("recommends",recommends);

            }
           )
        }
       );

       ractive2.on('remove', function(event){
        var [name,confidence] = event["context"];
        var original_recommends = ractive2.get("recommends");
        var new_recommends = _.filter(original_recommends,function(x){return x[0] != name});
        ractive2.set("recommends",new_recommends);
        var original_selected = ractive.get("selected");
        original_selected.push(name);
        $('#pokeselect').selectpicker("refresh");
        }
        );
    </script>
  </body>
</html>
